@charset "UTF-8";

* {
    font-family: 'Courier New', Courier, monospace;

}


body {
    background-attachment: fixed;
    background-image: linear-gradient(to top,#2F6330, #27E32D)

}


h1 {
    text-align: center;
}


p {
    text-align: justify;
    color: #00f8d3;
}


main {
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    margin: auto;
    padding: 10px;
    
}